/**
*Générale
**/

body{
  margin: 0;
  padding: 0;
}
header{
  position: sticky;
  top: 0px;
  z-index: 10;
}
#accueil{
  color: white;
  text-decoration: none;
}
.resulta{
  display: none;
  background: #ffff;
  position: absolute;
  top: 47px;
  right: 24px;
  list-style-type: none;
}
#searchBar ul{
  list-style-type: none;
}
#searchBar ul a{
  text-decoration: none;
  color: grey;
}
#search{border-radius: 0;}
.noPadding{
  padding: 0;
}
#contenu{
  position: relative;
}
.grey{
  background: rgb(238, 238, 238);
}

/**
*drapeau + info
**/

#flagFrame{
  /*border: solid;*/
  position: relative;
  /*background: rgb(238, 238, 238);*/
  height: 500px;
}
#flag{
  height: 100%;
  padding: 0;
}
#info{
  position: absolute;
  font-size: 3em;
  bottom: 15px;
}

/**
*Description
**/

#img{
  position: absolute;
  top: 417px;
  height: 372px;
  border-radius: 261px;
  /*background: green;*/
  padding: 0;
}
article{
  /*border: solid;*/
  margin-top: 30px;
  margin-bottom: 70px;
  min-height: 270px;
  /*background: blue;*/
  overflow: auto;
}
.categories{
  list-style-type: none;
}
/**
*Map
**/

#map{
  height: 500px;
}
/**
*Commentaire
**/
#commentaires{

  /*background: rgb(238, 238, 238);*/
}
.listeCommentaire{
  background: rgba(255,255,255,0.8);
  min-height: 300px;
}
textarea{
  height: 118px;
}
/**
*footer
**/
footer{
  background: orange;
  height: 300px;
}
